<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
<div class="row">

<h1>{{viewtitle}}</h1>

<a href="/user/aOrE"><button class="btn btn-primary" style="margin-top: 20px;">Add User</button></a>
<a href="/user/list"><button class="btn btn-primary" style="margin-top: 20px;">View Users</button></a>
<div>
<a href="/book/aOrEb"><button class="btn btn-primary" style="margin-top: 20px;">Add Book</button></a>
<a href="/book/booklist"><button class="btn btn-primary" style="margin-top: 20px;">View Books</button></a>
</div>
<div>
<a href="/library/aOrEl"><button class="btn btn-primary" style="margin-top: 20px;">Add Library</button></a>
<a href="/library/liblist"><button class="btn btn-primary" style="margin-top: 20px;">View Libraries</button></a>
</div>
</div>

    </div>
</body>
</html>